/*++++++++++++++++++++++++++++++++++++++++++++++++++
/CSS/ forms #start#
++++++++++++++++++++++++++++++++++++++++++++++++++*/

/* common #start# */
form div.formElementSet {
	/*background: #ececec;*/
	clear: both;
}
form .formElementSet div.dt,
form .formElementSet div.dt {
	float: left;
}
form .formElementSet div.dd,
form .formElementSet div.dd {
	float: left;
}
form .formElementSet.formCheckboxSet div.dt,
form .formElementSet.formCheckboxSet div.dd,
form .formElementSet.formRadioSet div.dt,
form .formElementSet.formRadioSet div.dd {
	float: left;
	clear: none;
}
form .formElementSet.formRadioSet div.dd input[type=radio] {
	float: left;
	margin: 2px 8px 0 8px;
}
form .formElementSet.formRadioSet div.dd input[type=radio]:last-child {
	margin-right: 0;
}
form .formElementSet.formRadioSet div.dd label {
	float: left;
}
form .formElementSet.formCheckboxSet div.dd input[type=checkbox] {
	float: left;
	margin: 2px 6px 0 6px;
}
form .formElementSet.formCheckboxSet div.dd input[type=checkbox]:last-child {
	margin-right: 0;
}
form .formElementSet.formCheckboxSet div.dd label {
	float: left;
}
form .input-error {			
}
/* common #stop# */

/* search #start# */
div#searchFormArea {
	background: linear-gradient(to bottom, #91c6ea, #007acf); /* CSS3 */
	background: -moz-linear-gradient(top, #91c6ea, #007acf); /* Firefox */
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#91c6ea), to(#007acf)); /* Safari, Chrome */
	background: -o-linear-gradient(top, #91c6ea, #007acf); /* Opera */
	background: -ms-linear-gradient(top, #91c6ea 0%, #007acf 100%); /* IE */
	/*background: #00cc99;*/
	z-index: 100;
	position: absolute;
	left: 0;
	top: 20px;
	width: 600px;
	padding: 10px 25px 10px 25px;
	font-size: 14px;
	border: 0;
	border-radius: 5px; /* CSS3 */
	-moz-border-radius: 5px; /* Firefox */
	-webkit-border-radius: 5px; /* Safari, Chrome */
	-khtml-border-radius: 5px; /* Konqueror */
	overflow-y: visible;
}
div#searchFormContainer {
	/*background: #ff9900;*/
	height: 31px;
	min-height: 31px;
	overflow-y: hidden;
}
div#searchFormContainer div.dl {
	/*background: #cc0000;*/
}
div#searchFormContainer div.dt {
	/*background: #cc0000;*/
	width: 100px;
}
div#searchFormContainer div.dd {
	/*background: #0066cc;*/
}
div#searchFormMessagesContainer {
	/*background: #0066cc;*/
	width: 430px;
	padding: 10px;
	margin: 30px 0 10px 0;
	border: 1px solid #0f82d2;
	border-radius: 5px; /* CSS3 */
	-moz-border-radius: 5px; /* Firefox */
	-webkit-border-radius: 5px; /* Safari, Chrome */
	-khtml-border-radius: 5px; /* Konqueror */
}
div#searchFormMessagesContainer ul {
}
div#searchFormMessagesContainer > ul {
	margin: 20px 0 0 0;
	padding: 0 0 0 10px;
	list-style-type: none;
}
div#searchFormMessagesContainer > ul > li {
	font-weight: bold;
}
div#searchFormMessagesContainer > ul > li > ul {
	padding: 0 0 0 10px;
	list-style-type: none;
}
div#searchFormMessagesContainer > ul > li > ul > li {
	margin: 10px 0;
	font-weight: normal;
}
span#searchFormMessagesHeader {
	/*background: #cc0000;*/
	padding: 10px;
}
form#searchForm {
	color: #ffffff;
}
form#searchForm .invalid {
	color: #cc0000;
}
form#searchForm input[type=text] {
	border: 0;
	width: 300px;
}
form#searchForm select {
	border: 0;
	width: 310px;
}
form#searchForm .formElementSet {
	width: 450px;
	padding: 10px 0;
}
form#searchForm .formElementSet#formElementKeyword {
	background: transparent;
	width: auto;
	float: left;
	clear: none;
	margin-bottom: 20px;
	padding: 0;
}
form#searchForm .formElementSet#formElementKeyword div.dd {
	background: transparent;
}
form#searchForm .formElementSet#formElementKeyword input[type=text]#searchFormKeyword {
	width: 435px;
	height: 24px;
	padding: 4px 7px 3px 7px;
	font-size: 20px;
	border-top-right-radius: 0; /* CSS3 */
	border-bottom-right-radius: 0; /* CSS3 */
	-moz-border-radius-topright: 0; /* Firefox */
	-moz-border-radius-bottomright: 0; /* Firefox */
	-webkit-border-top-right-radius: 0; /* Safari, Chrome */
	-webkit-border-bottom-right-radius: 0; /* Safari, Chrome */
	-khtml-border-radius-topright: 0; /* Konqueror */
	-khtml-border-radius-bottomright: 0; /* Konqueror */
}
form#searchForm .formElementSet#formElementSubmit div.dd {
	background: transparent;
}
form#searchForm .formElementSet#formElementSubmit {
	background: #ffffff;
	float: left;
	clear: right;
	width: 148px;
	height: 27px;
	margin: 0 0 0 0;
	padding: 2px 2px 2px 0;
	border-top-right-radius: 5px; /* CSS3 */
	border-bottom-right-radius: 5px; /* CSS3 */
	-moz-border-radius-topright: 5px; /* Firefox */
	-moz-border-radius-bottomright: 5px; /* Firefox */
	-webkit-border-top-right-radius: 5px; /* Safari, Chrome */
	-webkit-border-bottom-right-radius: 5px; /* Safari, Chrome */
	-khtml-border-radius-topright: 5px; /* Konqueror */
	-khtml-border-radius-bottomright: 5px; /* Konqueror */
}
form#searchForm .formElementSet#formElementSubmit div.dd {
	/*background: #00ff00;*/
	margin: 0;
	padding: 0;
}
form#searchForm .formElementSet#formElementSubmit div.dd input[type="button"],
form#searchForm .formElementSet#formElementSubmit div.dd input[type="submit"] {
	background: linear-gradient(to bottom, #ffd760, #efb300); /* CSS3 */
	background: -moz-linear-gradient(top, #ffd760, #efb300); /* Firefox */
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#ffd760), to(#efb300)); /* Safari, Chrome */
	background: -o-linear-gradient(#ffd760, #efb300); /* Opera */
	background: -ms-linear-gradient(top, #ffd760 0%, #efb300 100%); /* IE */
	/*background: #cc0000;*/
	width: 148px;
	min-height: 10px;				
	height: 27px;
	margin: 0 0 0 0;
	padding: 2px 5px 2px 5px;
	font-size: 18px;
	border: 0;
	border-top-left-radius: 0; /* CSS3 */
	border-bottom-left-radius: 0; /* CSS3 */
	-moz-border-radius-topleft: 0; /* Firefox */
	-moz-border-radius-bottomleft: 0; /* Firefox */
	-webkit-border-top-left-radius: 0; /* Safari, Chrome */
	-webkit-border-bottom-left-radius: 0; /* Safari, Chrome */
	-khtml-border-radius-topleft: 0; /* Konqueror */
	-khtml-border-radius-bottomleft: 0; /* Konqueror */
	color: #ffffff;
}
#showFormButton {
	position: absolute;
	right: 40px;
	bottom: -23px;
	min-height: 20px;
	line-height: 10px;
	padding: 2px 5px;
	font-size: 12px;
}
/* search #stop# */

/*++++++++++++++++++++++++++++++++++++++++++++++++++
/CSS/ forms #stop#
++++++++++++++++++++++++++++++++++++++++++++++++++*/