/*++++++++++++++++++++++++++++++++++++++++++++++++++
/CSS/ parts of the website #start#
++++++++++++++++++++++++++++++++++++++++++++++++++*/

/* catalog #start# */
ul.catalogList {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	font-size: 20px;
	list-style-type: none;
}
ul.catalogList li {
	margin: 0 0 20px 0;
}

ul#catalogListCities {
	
}
ul#catalogListCities li {
	display: inline-block;
	width: 195px;
}

ul#catalogListSports {
	
}
ul#catalogListSports li {
	display: block;
}
ul#catalogListSports li span.aTextCategory {
	color: #777777;
}
ul#catalogListSports li span.aTextCountCourses {
	font-size: 14px;
	color: #777777;
}
/* catalog #stop# */

/* search result list #start# */
.resultBlock {
	/*background: #cc0000;*/
	position: relative;
	width: 528px;
	height: 50px;
	margin: 0 0 20px 50px;
	border: 1px solid #e9e9e9;
	border-radius: 5px; /* CSS3 */
	-moz-border-radius: 5px; /* Firefox */
	-webkit-border-radius: 5px; /* Safari, Chrome */
	-khtml-border-radius: 5px; /* Konqueror */
}
.resultBlock:hover {
	background: #fefefe;
}
.resultBlock#searchResultText {
	background: linear-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e9e9e9)); /* CSS3 */
	background: -moz-linear-gradient(top, #ffffff, #e9e9e9); /* Firefox */
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e9e9e9)); /* Safari, Chrome */
	background: -o-linear-gradient(top, #ffffff, #e9e9e9); /* Opera */
	background: -ms-linear-gradient(top, #ffffff 0%, #e9e9e9 100%); /* IE */
	filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#ffffff', EndColorStr='#e9e9e9'); /* IE */
	/*background: #ff9900;*/
	width: 510px;
	height: 30px;
	line-height: 30px;
	margin-top: 0;
	padding: 10px 10px 10px 10px;
	font-size: 16px;
}
.resultBlock .resultBlockCourseIcon {
	background: #007acf;
	position: absolute;
	left: -30px;
	top: 0;
	width: 25px;
	height: 25px;
	border-radius: 5px; /* CSS3 */
	-moz-border-radius: 5px; /* Firefox */
	-webkit-border-radius: 5px; /* Safari, Chrome */
	-khtml-border-radius: 5px; /* Konqueror */
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	color: #ffffff;
	cursor: default;
}
.resultBlock .resultBlockCourseTitle {
	/*background: #000000;*/
	position: absolute;
	left: 5px;
	top: 5px;
	font-size: 18px;
	text-align: left;
}
.resultBlock .resultBlockCourseTitle a {
	display: block;
}
.resultBlock .resultBlockCourseLevel {
	/*background: #000000;*/
	position: absolute;
	right: 5px;
	top: 5px;
	font-size: 18px;
	color: #999999;
}
.resultBlock .resultBlockCourseDate {
	/*background: #00aa00;*/
	position: absolute;
	left: 5px;
	bottom: 5px;
	font-size: 12px;
}
.resultBlock .resultBlockCourseWeekday {
	/*background: #00aa00;*/
	position: absolute;
	left: 150px;
	bottom: 5px;
	font-size: 12px;
}
.resultBlock .resultBlockCourseTime {
	/*background: #00aa00;*/
	position: absolute;
	left: 220px;
	bottom: 5px;
	font-size: 12px;
}
/* search result list #stop# */

/* course page #start# */
#courseTitle {
	/*background: #000000;*/
	float: left;
	width: 80%;
	font-size: 18px;
	text-align: left;
}
#courseLevel {
	/*background: #0000cc;*/
	float: right;
	width: 20%;
	font-size: 18px;
	text-align: right;
	color: #999999;
}
#courseDescription {
	/*background: #000000;*/
	margin: 10px 5px 50px 5px;
	font-size: 16px;
	text-align: left;
}
#courseData {
	/*background: #9900cc;*/
	margin: 20px 0 0 0;
	float: left;
	width: 450px;
}
#courseLink {
	/*background: #00aa00;*/
	position: absolute;
	right: 5px;
	bottom: 5px;
	font-size: 12px;
}
#courseDescription #courseDescriptionLabel {
	margin: 0 0 20px 0;
}
#courseDescription #courseDescriptionData {
	
}
#courseData .courseInfo {
	margin-bottom: 10px;
}
#courseData .courseInfo .courseInfoLabel {
	/*background: #00aa00;*/
	float: left;
	clear: left;
	width: 100px;
}
#courseData .courseInfo .courseInfoData {
	/*background: #aa0000;*/
	margin: 0 0 0 100px;
	width: 350px;
}
#courseInfoGoogleMap {
	/*background: #aa33ff;*/
	margin: 20px 0 0 458px;
	width: 150px;
	height: 150px;
}
#courseInfoGoogleMap #gMapCanvas {
	border: 1px dashed #cccccc;
	width: 148px;
	height: 148px;
}
#courseInfoGoogleMap #gMapLink {
	/*background: #aa33ff;*/
	display: block;
	width: 150px;
	font-size: 10px;
	text-align: right;
}
#courseData .courseInfo#courseInfoTimeData .courseInfoData > div {
	/*background: #aaff00;*/
	display: inline-block;
	padding-right: 10px;
}
#courseTitle a {
	display: block;
}
/* course page #stop# */

/*++++++++++++++++++++++++++++++++++++++++++++++++++
/CSS/ parts of the website #start#
++++++++++++++++++++++++++++++++++++++++++++++++++*/