<?xml version="1.0" encoding="UTF-8"?>
<!--
%base_url%
- examples
http://project.tld

%store_into%
/var/www/path/to/project/data/sitemap/sitemap_users.xml
/var/www/path/to/project/public/sitemap_robots.xml

%urllist%
temp/urllist_users.txt
temp/urllist_robots.txt
-->
<site
	base_url="%base_url%"
	store_into="%store_into%"
	verbose="1"
>
	
	<urllist path="%urllist%" encoding="UTF-8"  />
	
	<!-- Exclude URLs that end with a '~' (IE: emacs backup files) -->
	<filter action="drop" type="wildcard"  pattern="*~" />
	
	<!-- Exclude URLs within UNIX-style hidden files or directories -->
	<filter action="drop" type="regexp" pattern="/\.[^/]*" />
	
</site>