# Settings
# 
# %base_url%
# - examples
# http://unisportr-zf.itt.loc
# 
# %domain%
# - examples
# unisportr-zf.itt.loc
# 
# %level%
# - examples
# emptty for full recursitivy
# -l%n% for recursitivy of level %n%
# 
# %store_into_urllist%
# - examples
# /var/www/itt/unisportr-zf/temp/googlesitemapgen/temp/urllist_local.txt
# /var/www/itt/unisportr-zf/temp/googlesitemapgen/temp/urllist_google.txt
wget --spider --force-html -r %level% %base_url% 2>&1 \
  | grep '^--' | awk '{ print $3 }' \
  | grep -v '\.\(css\|js\|png\|gif\|jpg\|ico\|txt\)$' \
  | sort | uniq \
  > %store_into_urllist%
rm -rf ./%domain%