<?php
return array(
	'host'		=> 'localhost',
	'user'		=> 'root',
	'password'	=> 'pwd',
	// always reset this option after migration
	'database'	=> 'unisportr_zf',
);
/*
$sqlFiles = array(
	'setup' => __DIR__ . '/../../config/database',
	'migratiom' => __DIR__ . '/../../data/database',
);
*/